.dropdown {
    position: relative;
    display: inline-block;
    margin: 20px;
    background-color: #c1c74c;
}
.btn-drop {
    padding: 7px 18px;
    background-color: #c1c74c;
}

.drop-menu {
    display: none;
    position: absolute;
    background-color: #000000;
    z-index: 1;
}
.drop-menu a{
    padding: 12px 0;
    width: 113px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    display: block;
}
.showMenu{
    display: block;
}